#menu-part{
  position: fixed;
  left: 0;
  top: 0;
  width: 104px;
  min-height: 100vh;
  background-color: #1f1d2b;
}
.main-logo{
  margin-bottom: 26px;
  position: relative;
  left: 18px;
  border-radius: 12px;
  top: 20px;
  background-color: #543C3C;
  padding: 10px;
}

.nav-lists{
  list-style: none;
  padding: 0;
  padding-left: 25px;
}
.home-img{
  margin-bottom: 22px;
}

.nav-item:not(:last-child){
  margin-bottom: 1px;
}
.nav-item:hover{
  background-color: #252836;
  border-radius: 13px 0 0 13px;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-property: border, background-color;
  cursor: pointer;
}
.nav-item{
  padding: 18px 24px 11px 12px;
  margin-bottom: 20px !important;
}
.home-img {
  background: #EA7C69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  top: 10px;
  left: -20px;
}